body{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: -0.03em;
}
a {
	color: #777777;
	text-decoration: none;
}
a:hover, a:focus{
	text-decoration: none;
}

@media (min-width: 1441px) {
	body{
		max-width: 1440px !important;
		margin:0 auto !important;
		background: #fff !important;
	}
}

/*-----------------------------------------------------------------------------------*/
/* Header */
/*-----------------------------------------------------------------------------------*/

header{
	position: fixed;
	z-index: 1000;
	top:0;
	left: 0;
	right: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	transition: background 0.1s linear;
}
.scrolled header{
	
}
.header-container{
	display: table;
	width: 100%;
	vertical-align: middle;
	padding: 15px 0;
}
.site-title{
	margin: 0;
	padding: 0;
	display: table-cell;
	width: 80%;
	vertical-align: middle;
	position: relative;
	line-height: 1.1;
}
.site-title a{
	color: #333;
}
.site-title img{
	max-width: 100px;
	max-height: 47px;
}
.nav-toggle{
    display: table-cell;
    width: 20%;
    text-align: right;
    vertical-align: middle;
}
.desktop-nav{
	display: table-cell;
	width: 70%;
	text-align: right;
	vertical-align: middle;
}
.desktop-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1em;
	text-align: right;
}
.desktop-nav ul li{
	margin: 0 0 0 20px;
	padding: 0;
	display: inline-block;
	position: relative;
}
.desktop-nav ul li.current-menu-item:before{
	content: ' ';
	position: absolute;
	background: #333;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -8px;
}
.desktop-nav ul li a{
	font-size: 20px;
	color: #88181F;
	transition:all 300ms;
}
.desktop-nav ul li a:hover{
	color: #88181F;
}
.desktop-nav ul li.lang,
.desktop-nav ul li.lang a{
	color: #C5AA61;
	font-size: 14px;
}
.desktop-nav ul li.lang a:hover{
	color: #C5AA61;
}
.mobile-nav{
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow-y: scroll;
	position: fixed;
	padding: 30px;
	background: #440907;
}
.mobile-nav li{
	padding: 0 0 20px 0;
	color: #fff;
}
.mobile-nav ul li a {
	font-size: 20px;
	color: #fff;
}
.mobile-nav ul li.lang,
.mobile-nav ul li.lang a{
	color: #C5AA61;
	font-size: 14px;
}
.mobile-nav,
.push-body,
.push-body header {
	transition: all 300ms ease;
}
.mobile-nav-left {
	left: -250px;
}
.mobile-nav-right {
	right: -250px;
}
.mobile-nav-left.menu-open {
	left: 0px;
}
.mobile-nav-right.menu-open {
	right: 0px;
}
.push-body {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.push-body-toright {
	left: 250px;
}
.push-body-toleft {
	left: -250px;
}
.push-body-toright header{
	left: 250px;
}
.push-body-toleft header{
	left: -250px;
}
.nav-icon{
	width: 20px;
	height: 20px;
	padding:2px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: 300ms ease-in-out;
	cursor: pointer;
}
.nav-icon span{
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #88181F;
	border-radius: px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: 300ms ease-in-out;
}
.nav-icon span:nth-child(1) {
	top: 3px;
}
.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
	top: 9px;
}
.nav-icon span:nth-child(4) {
	top: 15px;
}
.nav-icon.open span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}
.nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.nav-icon.open span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}
.nav-spacer{
	height: 77px;
}
@media (min-width: 992px) {
		.header-container{
			/*padding: 30px 0;*/
		}
		.site-title{
			font-size:24px;
			width:30%;
		}
		.site-title img{
			max-width: 140px;
			/*max-height: 64px;*/
			max-height: 85px;
		}
		.nav-spacer{
			height: 115px;
		}
}

/*-----------------------------------------------------------------------------------*/
/* SECTIONS LEFT & RIGHT */
/*-----------------------------------------------------------------------------------*/

.section-left,
.section-right{
	position: relative;
	border-bottom: 1px solid #ddd;
}
.section-left .section-container,
.section-right .section-container{
	padding: 30px 0;
}
.section-left .title,
.section-right .title{
	color: #C5AA61;
	font-size: 25px;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 300;
}
.section-left .subtitle,
.section-right .subtitle{
	color: #88181F;
	font-size: 16px;
	line-height: 1.1;
	margin-bottom: 30px;
	font-weight: 300;
	margin-top: -5px;
}
.section-left .text p,
.section-right .text p{
	margin-bottom: 1em;
	line-height: 1.5;
}
.section-left .background-image,
.section-right .background-image,
.section-detail .background-image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.section-left .more,
.section-right .more{
	display: block;
	color: #C5AA61;
	font-size: 18px;
	line-height: 1.1;
	font-weight: 300;
}

@media (min-width: 992px) {
	.section-left,
	.section-right{
		padding: 100px 0;
		min-height: 600px;
	}
	.section-left .section-container,
	.section-right .section-container{
		padding: 0;
	}
	.section-left .title,
	.section-right .title{
		font-size: 50px;
		margin-bottom: 30px;
	}
	.section-left .subtitle,
	.section-right .subtitle{
		font-size: 25px;
		margin-bottom: 30px;
		margin-top: -20px;
	}
	.section-left .background-container,
	.section-right .background-container,
	.section-detail .background-container {
	    overflow: hidden;
	    position: absolute;
	    height: 100%;
	    width: 50%;
	    padding: 0px;
	    top: 0px;
	}
	.section-left .background-image,
	.section-right .background-image,
	.section-detail .background-image {
	    position: absolute;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	    z-index: 0;
	}
	.section-left .background-container,
	.section-detail .background-container{
		right: 0;
	}
	.section-right .background-container{
		left: 0;
	}
	.section-left .more,
	.section-right .more{
		font-size: 20px;
	}
}

/*-----------------------------------------------------------------------------------*/
/* FOOTER */
/*-----------------------------------------------------------------------------------*/

footer{
	padding: 30px 0;
	background:#F7F7F7;
	color: #B2B2B2;
	text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/* SLIDER HOME */
/*-----------------------------------------------------------------------------------*/

.slider-home{
	border-bottom: 1px solid #ddd;
}
.slider-home .swiper-pagination-bullet-active{
	background: #470D0C;
}
.slider-home .swiper-pagination-bullet-active{
	background: #470D0C;
}
.slider-home .swiper-button-prev{
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23470D0C'%2F%3E%3C%2Fsvg%3E");
}
.slider-home .swiper-button-next{
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23470D0C'%2F%3E%3C%2Fsvg%3E");
}
.slide-left,
.slide-right{
	position: relative;
	overflow: hidden;
}
.slide-left .slide-container,
.slide-right .slide-container{
	padding: 65px 0 85px 0;
	text-align: center;
}
.slide-left .title,
.slide-right .title{
	color: #C5AA61;
	font-size: 40px;
	margin-bottom: 15px;
}
.slide-left .subtitle,
.slide-right .subtitle{
	color: #5C0200;
	font-size: 25px;
	line-height: 1.1;
	font-weight: 300;
}
.slide-left .background-image,
.slide-right .background-image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 992px) {
	.slide-left,
	.slide-right{
		padding: 200px 0 250px 0;
	}
	.slide-left .slide-container,
	.slide-right .slide-container{
		padding: 0;
		text-align: left;
	}
	.slide-left .title,
	.slide-right .title{
		font-size: 85px;
		margin-bottom: 5px;
	}
	.slide-left .subtitle,
	.slide-right .subtitle{
		font-size: 50px;
	}
	.slide-left .background-container,
	.slide-right .background-container {
	    overflow: hidden;
	    position: absolute;
	    height: 100%;
	    width: 50%;
	    padding: 0px;
	    top: 0px;
	}
	.slide-left .background-image,
	.slide-right .background-image {
	    position: absolute;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	    z-index: 0;
	}
	.slide-left .background-container{
		right: 5%;
	}
	.slide-right .background-container{
		left: 5%;
	}
}
/*-----------------------------------------------------------------------------------*/
/* PAGE HEADER */
/*-----------------------------------------------------------------------------------*/

.page-header{
	/*min-height: 200px;*/
	padding: 80px 0 87px 0;
	border-bottom: 1px solid #ddd;
	position: relative;
	overflow-x: hidden;
}
.page-header .title{
	font-size: 40px;
	text-align: center;
	font-weight: 300;
	color: #470D0C;
	margin-bottom: 10px;
}
.page-header-empresa .title{
	margin-bottom: 35px;
}
.page-header .subtitle{
	font-size: 18px;
	color:#C5AA61;
	text-align: center;
	font-weight: 300;
}
.page-header .subtitle img{
	max-width: 100%;
	height: auto;
}
@media (min-width: 992px) {
	.page-header{
		padding: 160px 0 175px 0;
		min-height: 400px;
	}
	.page-header .title{
		font-size: 80px;
		margin-bottom: 10px;
	}
	.page-header-empresa .title{
		margin-bottom: 70px;
	}
	.page-header .subtitle{
		font-size: 25px;
	}
	.page-header-empresa:before{
		content: '';
		display: block;
		width: 586px;
		height: 587px;
		position: absolute;
		z-index: -100;
		background: url(../img/img-1192.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		top: -204px;
		left: -139px;
	}
	.page-header-empresa:after{
		content: '';
		display: block;
		width: 922px;
		height: 797px;
		position: absolute;
		z-index: -100;
		background: url(../img/img-1197.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		top: -356px;
		right: -500px;
	}
	.page-header-produtos:before{
		content: '';
		display: block;
		width: 967px;
		height: 644px;
		position: absolute;
		z-index: -100;
		background: url(../img/img-1196.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		top: -290px;
		left: -377px;
	}
	.page-header-produtos:after{
		content: '';
		display: block;
		width: 1294px;
		height: 805px;
		position: absolute;
		z-index: -100;
		background: url(../img/img-1215.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		top: -430px;
		right: -900px;
	}
	.page-header-contato:before{
		content: '';
		display: block;
		width: 692px;
		height: 812px;
		position: absolute;
		z-index: -100;
		background: url(../img/img-1647.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		top: -483px;
		left: -152px;
	}
	.page-header-contato:after{
		content: '';
		display: block;
		width: 652px;
		height: 433px;
		position: absolute;
		z-index: -100;
		background: url(../img/img-00.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		top: -115px;
		right: -50px;
	}
}

/*-----------------------------------------------------------------------------------*/
/* PARALLAX */
/*-----------------------------------------------------------------------------------*/

.section-parallax{
	height: 370px;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

/*-----------------------------------------------------------------------------------*/
/* SECTIONS HIGHLIGHT LEFT & HIGHLIGHT RIGHT */
/*-----------------------------------------------------------------------------------*/

.section-highlight-left,
.section-highlight-right{
	position: relative;
}
.section-highlight-left .section-container,
.section-highlight-right .section-container{
	padding: 65px 0;
	text-align: center;
}
.section-highlight-left .title,
.section-highlight-right .title{
	color: #5C0200;
	font-size: 30px;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 300;
}
.section-highlight-left .subtitle,
.section-highlight-right .subtitle{
	color: #C5AA61;
	font-size: 20px;
	font-weight: 300;
}
.section-highlight-left .text p,
.section-highlight-right .text p{
	margin-bottom: 1em;
	line-height: 1.5;
}
.section-highlight-left .background-image,
.section-highlight-right .background-image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 992px) {
	.section-highlight-left,
	.section-highlight-right{
		padding: 170px 0;
	}
	.section-highlight-left .section-container,
	.section-highlight-right .section-container{
		padding: 0;
	}
	.section-highlight-left .title,
	.section-highlight-right .title{
		font-size: 50px;
	}
	.section-highlight-left .subtitle,
	.section-highlight-right .subtitle{
		font-size: 40px;
	}
	.section-highlight-left .background-container,
	.section-highlight-right .background-container {
	    overflow: hidden;
	    position: absolute;
	    height: 100%;
	    width: 33.33333333%;
	    padding: 0px;
	    top: 0px;
	}
	.section-highlight-left .background-image,
	.section-highlight-right .background-image {
	    position: absolute;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	    z-index: 0;
	}
	.section-highlight-left .background-container{
		right: 0;
	}
	.section-highlight-right .background-container{
		left: 0;
	}
}

/*-----------------------------------------------------------------------------------*/
/* CONTACT FORM */
/*-----------------------------------------------------------------------------------*/
.contact-form {
	padding: 60px 0;
}
.contact-form .title{
	font-size: 18px;
	text-align: left;
	line-height: 1.5;
	font-weight: bold;
}
.contact-form .text{
	font-size: 18px;
	text-align: left;
	line-height: 1.5;
	margin-bottom: 40px;
}
@media (min-width: 992px) {
	.contact-form {
		padding: 120px 0;
	}
}
.contact-form input[type='text']{
	width: 100%;
	height: 40px;
	padding: 6px 12px;
	width:100%;
	border:1px solid #ddd;
	margin-bottom:15px;
	box-shadow: inset 0 2px 2px 0px rgba(0,0,0,0.05);
	border-radius:2px;
}
.contact-form textarea{
	width: 100%;
	min-height: 200px;
	padding: 6px 12px;
	width:100%;
	border:1px solid #ddd;
	margin-bottom:15px;
	box-shadow: inset 0 2px 2px 0px rgba(0,0,0,0.05);
	border-radius:2px;
}
.contact-form input[type='text']:focus,
.contact-form textarea:focus{
	border:1px solid #bbb;
}
.contact-form input[type='submit']{
	border-radius: 2px;
	background: #470D0C;
	color: #fff;
	display: inline-block;
	white-space: nowrap;
	padding: 15px 24px;
	font-size: 16px;
	line-height: 1;
	border:0;
}

/*-----------------------------------------------------------------------------------*/
/* SECTION DETAIL */
/*-----------------------------------------------------------------------------------*/

.section-detail{
	position: relative;
}
.section-detail .text p{
	margin-bottom: 1em;
	line-height: 1.5;
}
.section-detail .section-container{
	padding: 30px 0;
}
.section-detail .title{
	color: #C5AA61;
	font-size: 25px;
	line-height: 1.1;
	margin-bottom: 15px;
	font-weight: 300;
}
.section-detail .logos{
	margin: 40px 0 0 0;
	text-align: center;
}
.section-detail .logos img{
	margin: 0 20px 20px 0;
	height: 55px;
}
@media (min-width: 992px) {
	.section-detail{
		padding: 100px 0 30px 0;
		min-height: 600px;
	}
	.section-detail .section-container{
		padding: 0;
	}
	.section-detail .title{
		font-size: 42px;
		margin-bottom: 30px;
	}
	.section-detail .logos{
		text-align: left;
	}
	.section-detail .logos img{
		margin: 0 20px 20px 0;
		height: 65px;
	}
}

/*-----------------------------------------------------------------------------------*/
/* SECTION DETAIL */
/*-----------------------------------------------------------------------------------*/

.section-detail-image img{
	max-width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/* TABLE */
/*-----------------------------------------------------------------------------------*/

.section-table{
	padding:30px 0;
}
.table-title{
	font-size: 20px;
	color: #C5AA61;
	font-weight: 300;
	margin:0 0 20px 0;
}
.table{
	width: 100%;
	table-layout: fixed;
	text-align: center;
	/*margin:0 0 30px 0;*/
}
.table td{
	padding:5px;
	border: 1px solid #C5AA61;
	vertical-align: middle;
	line-height: 1.3;
}
.table th{
	padding:5px;
	border: 1px solid #814624;
	background: #814624;
	vertical-align: middle;
	line-height: 1.3;
	color: #fff;
}
.table.table-small{
	text-align: left;
	width: 50%;
}
.table.table-small tbody{
	border: 1px solid #C5AA61;
}
.table.table-small td{
	border: 0;
	line-height: 1.5;
}
@media (min-width: 992px) {
	.table{
		/*margin:0 0 60px 0;*/
	}
	.table th{
		padding:15px;
	}
	.table td{
		padding:20px;
	}
	.section-table{
		padding:40px 0;
	}
	.table-title{
		font-size: 25px;
	}
}

/*-----------------------------------------------------------------------------------*/
/* SECTION VIDEO */
/*-----------------------------------------------------------------------------------*/

.section-video{
	padding: 20px 0;
}


